@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200;300;400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  font-family: "Martian Mono", monospace, sans-serif;
  font-weight: 300;
  line-height: 1;
  overflow-y: scroll;
  background-color: #121212;
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

li,
ul {
  list-style: none; }

#display-none {
  display: none; }

.backdrop {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #121212;
  z-index: 1200;
  display: flex;
  align-items: center;
  justify-content: center; }

.container {
  display: flex;
  flex-direction: column;
  position: relative; }

.search {
  width: 100%;
  height: 10rem;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__content {
    width: 75%;
    height: 100%;
    background-color: #121212;
    display: flex;
    align-items: center;
    gap: 2rem; }
    .search__content--input {
      height: 4.5rem;
      width: 22rem;
      background-color: #202020;
      border-radius: 20px;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      gap: 1rem; }
      .search__content--input span {
        color: #cccc;
        font-size: 1.7rem; }
      .search__content--input input {
        border: none;
        outline: none;
        background-color: inherit;
        width: 100%; }
        .search__content--input input::placeholder {
          color: #cccc;
          font-weight: 400;
          font-size: 1.4rem; }
    .search__content--sub {
      height: 4.5rem;
      display: flex;
      align-items: center; }
      .search__content--sub .header:first-child h2 {
        color: #fff; }
      .search__content--sub .header {
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-radius: 5px;
        cursor: pointer; }
        .search__content--sub .header h2 {
          color: #cccc;
          font-weight: 400;
          font-size: 1.35rem; }

.main {
  width: 1427.25px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .main__menu {
    height: 640.83px;
    width: 100%;
    gap: 2rem;
    display: flex; }
    .main__menu--content {
      width: 1144px;
      height: 100%;
      background-color: lightblue;
      border-radius: 10px;
      position: relative; }
      .main__menu--content .scroll {
        width: 100%;
        height: 100%;
        position: relative; }
        .main__menu--content .scroll__background {
          position: absolute;
          width: 80%;
          height: 100%;
          z-index: 100;
          opacity: 0.6;
          background: linear-gradient(270deg, rgba(11, 11, 11, 0) 0%, #0b0b0b 100%, #0b0b0b 100%); }
        .main__menu--content .scroll__text {
          position: relative;
          height: 100%;
          width: 40rem;
          z-index: 1000;
          z-index: 120;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          padding: 6rem 5rem; }
          .main__menu--content .scroll__text--content {
            display: flex;
            flex-direction: column;
            height: auto; }
            .main__menu--content .scroll__text--content .scroll-logo {
              position: relative;
              top: -5rem;
              left: 7rem;
              margin-bottom: 5rem;
              height: 95px;
              width: 100%;
              opacity: 0;
              transition: all 300ms; }
            .main__menu--content .scroll__text--content .scroll-text {
              display: flex;
              flex-direction: column;
              gap: 1rem; }
              .main__menu--content .scroll__text--content .scroll-text p {
                color: #ffff;
                font-size: 0.8rem;
                font-weight: 400; }
              .main__menu--content .scroll__text--content .scroll-text h2 {
                font-size: 1.3rem;
                color: #fff;
                font-weight: 400;
                line-height: 1.8; }
            .main__menu--content .scroll__text--content .scroll-price {
              color: #ffff;
              font-size: 0.8rem;
              font-weight: 400;
              margin-top: 3rem;
              margin-bottom: 1rem; }
            .main__menu--content .scroll__text--content .scroll-btn {
              height: 4rem;
              width: 100%;
              display: flex;
              gap: 0.5rem;
              position: relative; }
              .main__menu--content .scroll__text--content .scroll-btn__purchase {
                position: relative;
                border-radius: 5px;
                display: flex;
                align-items: center;
                height: 100%;
                width: auto;
                background-color: #fff;
                cursor: pointer; }
                .main__menu--content .scroll__text--content .scroll-btn__purchase h2 {
                  font-weight: 400;
                  font-size: 1rem;
                  margin: 0 3rem; }
              .main__menu--content .scroll__text--content .scroll-btn__wishlist {
                position: absolute;
                height: 4rem;
                width: 15rem;
                left: 20rem;
                border-radius: 5px;
                display: flex;
                align-items: center;
                padding: 0 1rem;
                gap: 0.75rem;
                cursor: pointer;
                transition: all 300ms; }
                .main__menu--content .scroll__text--content .scroll-btn__wishlist:hover {
                  background-color: rgba(255, 255, 255, 0.2); }
                .main__menu--content .scroll__text--content .scroll-btn__wishlist h3 {
                  color: #fff;
                  font-weight: 400;
                  font-size: 0.85rem; }
                .main__menu--content .scroll__text--content .scroll-btn__wishlist .circle {
                  height: 2rem;
                  width: 2rem;
                  border: 2px solid #fff;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: #ffff; }
        .main__menu--content .scroll__img {
          position: absolute;
          height: 100%;
          width: 100%;
          border-radius: 5px;
          object-fit: cover;
          top: 0;
          bottom: 0; }
          .main__menu--content .scroll__img img {
            height: 100%;
            width: 100%;
            border-radius: 5px; }
    .main__menu--store {
      height: 100%;
      width: 256px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.25rem;
      padding: 0 0.75rem; }
      .main__menu--store .store-item {
        position: relative;
        height: 104.3px;
        width: 100%;
        border-radius: 10px;
        padding: 1.5rem;
        cursor: pointer;
        transition: background-color 300ms;
        display: flex;
        align-items: center;
        gap: 1rem; }
        .main__menu--store .store-item:hover {
          background-color: #252525; }
        .main__menu--store .store-item:hover .background-style {
          width: 100%;
          background-color: #363636; }
        .main__menu--store .store-item .background-style {
          position: absolute;
          height: 100%;
          width: 0%;
          transition: all 1s;
          margin-left: -1.5rem;
          border-radius: 10px; }
        .main__menu--store .store-item__logo {
          border-radius: 5px;
          width: 6rem;
          height: 8rem;
          z-index: 100; }
          .main__menu--store .store-item__logo img {
            height: 100%;
            width: 100%;
            display: block;
            object-fit: cover;
            border-radius: inherit; }
        .main__menu--store .store-item__text {
          z-index: 100;
          flex: 1;
          height: 100%;
          display: flex;
          align-items: center; }
          .main__menu--store .store-item__text h1 {
            color: #fff;
            font-weight: 300;
            font-size: 1.3rem;
            line-height: 1.5; }

.navigation {
  height: 5.3rem;
  width: 100%;
  background-color: #2a2a2a;
  padding-left: 1rem;
  display: flex;
  gap: 1rem; }
  .navigation__logo {
    height: 100%;
    width: 4.25rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .navigation__logo img {
      width: 4rem;
      height: 4rem; }
  .navigation__nav {
    display: flex;
    align-items: center;
    width: 42rem; }
    .navigation__nav ul {
      height: 100%;
      padding: 0 1rem;
      display: grid;
      grid-template-columns: repeat(4, auto); }
      .navigation__nav ul li:first-child::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.5rem;
        bottom: 0;
        background-color: #0078f2; }
      .navigation__nav ul li:not(:first-child):hover::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 10%;
        bottom: 0;
        background-color: #0078f2; }
      .navigation__nav ul li:last-child {
        border-left: 1px solid grey; }
      .navigation__nav ul li {
        cursor: pointer;
        position: relative;
        padding: 0 1.7rem;
        display: flex;
        align-items: center;
        justify-content: center; }
        .navigation__nav ul li a {
          color: #cccccc; }
  .navigation__signin {
    position: relative;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0.25rem; }
    .navigation__signin--icons:last-child {
      background-color: #0078f2;
      padding: 0 4rem; }
    .navigation__signin--icons {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 2rem;
      cursor: pointer; }
      .navigation__signin--icons h1 {
        color: #cccccc;
        font-size: 1rem;
        font-weight: 400; }
      .navigation__signin--icons span {
        color: #cccccc;
        font-size: 2rem; }
      .navigation__signin--icons .display-language {
        position: absolute;
        height: auto;
        width: 18rem;
        background-color: #2a2a2a;
        top: 5.3rem;
        left: -5.9rem;
        padding: 1rem 0;
        z-index: 10000;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem; }
        .navigation__signin--icons .display-language a {
          color: #cccccc;
          font-size: 0.95rem; }
          .navigation__signin--icons .display-language a:hover {
            color: #fff; }

.signup {
  position: relative;
  z-index: 1300;
  width: 45rem;
  height: 79rem;
  background-color: #202020;
  margin-bottom: 9rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .signup__btn {
    position: absolute;
    height: 4rem;
    width: 4rem;
    background-color: #d1cfcfcc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    transition: filter 300ms; }
    .signup__btn:hover {
      filter: brightness(1.3); }
  .signup__box {
    width: 326px;
    height: 677px; }
    .signup__box--logo {
      width: 100%;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .signup__box--logo img {
        width: 5rem;
        height: 5rem;
        display: block; }
    .signup__box--signin {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 2.5rem; }
      .signup__box--signin h1 {
        color: #fff;
        font-weight: 400;
        font-size: 1.3rem; }
    .signup__box--icons {
      display: flex;
      flex-direction: column;
      gap: 1rem; }
      .signup__box--icons .icons-box {
        height: 5rem;
        width: 100%;
        background-color: #2a2a2a;
        border-radius: 3px;
        cursor: pointer;
        transition: filter 300ms;
        display: flex;
        gap: 1rem;
        align-items: center; }
        .signup__box--icons .icons-box:hover {
          filter: brightness(1.3); }
        .signup__box--icons .icons-box h2 {
          flex: 1;
          line-height: 1.5;
          color: #fff;
          font-weight: 400;
          font-size: 1rem; }
        .signup__box--icons .icons-box__logo {
          width: 8.5rem;
          height: 100%;
          background-color: #353535;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center; }
          .signup__box--icons .icons-box__logo img {
            height: 2.5rem;
            width: 2.5rem;
            display: block; }
    .signup__box--text {
      height: 5rem;
      width: 100%;
      margin-top: 2.5rem;
      text-align: center; }
      .signup__box--text p {
        color: #d1cfcfcc;
        font-size: 1rem; }
        .signup__box--text p a {
          color: #fff;
          text-decoration: underline; }
